*.pyc
*~
.coverage
.tox
.pybuild
*.egg-info
*.egg-link
bundle-placer
*.pth
maasclient
site.py
debian/bundle-placer*.log
debian/bundle-placer*.debhelper
debian/bundle-placer*.substvars
debian/bundle-placer/*
debian/files
build
dist
